<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="F4Fungal.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <F4Fungal.Settings1>
            <setting name="Button" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>/avatar/parameters/Flash</value>
            </setting>
        </F4Fungal.Settings1>
    </userSettings>
</configuration>